<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark">
        <div id="main-nav" class="navbar-collapse collapse">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="footA.html" class="nav-link">FootBall - A</a></li>
                <li class="nav-item"><a href="footB.html" class="nav-link">FootBall - B</a></li>
                <li class="nav-item"></li>
            </ul>
        </div>
    </div>
    <div style="margin:46px;"><div class="row row-striped">
			<div class="col-2 text-center ">
				<h1 class="display-4 "><span class="badge date-green">8</span></h1>
				<h2>July</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Sweden Vs England</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:00 AM</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Quarter-finals</li>
				</ul>
			</div>
		</div><div class="row row-striped">
			<div class="col-2 text-center">
				<h1 class="display-4"><span class="badge badge-grey">8</span></h1>
				<h2>July</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Russia Vs Croatia</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 4：00 AM</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Quarter-Finals</li>
				</ul>
			</div>
		</div><div class="row row-striped">
			<div class="col-2 text-center">
				<h1 class="display-4"><span class="badge badge-grey">7</span></h1>
				<h2>July</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Uruguay VS France</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Saturday</li>
					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:00 AM</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Quarter-finals</li>
				</ul>
			</div>
		</div><div class="row row-striped">
			<div class="col-2 text-center">
				<h1 class="display-4"><span class="badge badge-grey">7</span></h1>
				<h2>July</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Brazil VS Belgium</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Saturday</li>
					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 4:00 AM</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Quarter-Finals</li>
				</ul>
			</div>
		</div></div><footer id="footer">
    
    <div style= "background: black; text-align: center; margin: 0px; padding:10px">
        <p style= "color:grey; font-family: raleway">Copyright (c) 2018 Ji Jingxiang</p>
    </div>
</footer>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>